// Site web variables
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-family : Arial, Helvetica, sans-serif;

// Colors
$header-background : #FFF;

$breadcrumb-color : #09b8c6;
$breadcrumb-link-color : #09b8c6;
$breadcrumb-current-item : #cecece;

$menu-title-color : #333;
$menu-title-border : solid 1px #ddd;

$menu-link-color : #444444;
$menu-link-hover-color : #343f48;

$menu-viewer-color : #555;

$content-bg-color : #FFF;

$page-bg-color : #FFF;
$page-summary-title-color: #222;
$page-summary-info-color : #999;

$field-label-color : #666;
$field-input-color : #000;
$field-input-border : solid 1px #ddd;

$field-input-focus-border : solid 1px #9ceaf1;

$link-input-border : solid 1px #09F;
$link-input-border-focus : solid 1px #9ceaf1;

$field-placeholder-color : #AAA;
$field-text-value-color : #000;

$fieldset-legend-color : #444444;
$fieldset-legend-border : double 4px #ddd;

$fieldset-sub-legend-color : #6c6c6c;
$fieldset-sub-legend-border : solid 1px #ddd;

$fieldset-sub-border : solid 1px #ddd;

$table-head-border : double 4px #ddd;
$table-head-border-edit : double 4px #333;
$table-head-color : #999;
$table-row-border : solid 1px #ddd;
$table-col-border : solid 1px #ddd; 
$table-row-color : #000;

$table-col-highlight-background : #F8F8F8;
$table-col-highlight-border : solid 1px #FFF;
    

$footer-background : #b2b2b2;

$sidebar-width: 360px;
$content-right-margin: -360px;

$general-border: solid 1px #ddd;